*/__pycache__/*

Dataset_Speech_Assignment/Fake
Dataset_Speech_Assignment/Real
for-2seconds/testing
for-2seconds/training
for-2seconds/validation
datasets

supaenv

models
SSL_Anti-spoofing/checkpoints
SSL_Anti-spoofing/checkpoint_save_dir
DF-keys-full.tar.gz
temp

*wandb*

SSL_Anti-spoofing/fairseq-a54021305d6b3c4c5959ac9395135f63202db8f1